html, body {
    overscroll-behavior-y: none;
    background-color: #f4f4f47d;
}

body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom);
    margin: 0;
}


:root {
    --main-bg-color: rgb(248, 249, 250);
    --side-padding: 0.5rem;
    --border-radius: 8px;
}