html, body {
    overscroll-behavior-y: none;
    background-color: #F2F2F2;
}

body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom);
    margin: 0;
}


:root {
    --main-bg-color: #F2F2F2;
    --side-padding: 0.5rem;
}